In [ ]:
c=23
type(c)

In [ ]:
b=23
b

In [ ]:
b=23
b

In [ ]:
m=100
print(str(m), "days")

In [ ]:
y=10

In [ ]:
print(str(y) + " dollars", "per year")

In [ ]:
'i\'m fine'

In [ ]:
"i'm fine"

In [ ]:
'press "enter"'

In [ ]:
('red'+' car')

In [ ]:
print("it\'s cool, isn\'t it?")

In [ ]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Cheeseburger', 'meal_4':'Lasagna'}
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']
Menu['meal_6']= Dessert

In [ ]:
Menu

In [ ]:
x=0
while x<=30:
    if x%2==1:
        print(x, end=" ")
    x+=1

In [ ]:
def count(numbers):
    total=1
    for i in numbers:
        if i<20:
            total=total+1
    return total

In [ ]:
list=[1,3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29 ]

In [ ]:
count(list)

In [ ]:
even=[2,4,6,8,10,12,14,16]
for item in even:
    print (item, end=" ")

In [ ]:
x=0
while x<=20:
    print(x, end=" ")
    x+=1

In [ ]:
range(1,10,2)

In [ ]:
list=[*range(1,10,2)]

In [ ]:
list

In [ ]:
for n in range(10):
    print(2*n, end=" ")

In [ ]:
for i in range(20):
    if i%2==0:
        print(i, end=" ")
    else:
        print('odd', end=" ")

In [ ]:
x=[1,2,3,4,5]
for item in range (len(x)):
    print(x[item], end=" ")

In [ ]:
def count(numbers):
    start=0
    for x in numbers:
        if x<20:
            start+=1
    return start

In [ ]:
(count(list))

In [ ]:
max(list)

In [ ]:



list

In [ ]:
prices={
    "box of spaghetti":4,
    "lasigna": 5,
    "hamburger":2}
quantity={
    "box of spaghetti":6,
    "lasigna": 10,
    "hamburger":0}
money_spent=0

for i in quantity:
    if prices[i]>=5:
        money_spent= money_spent + (prices[i] * quantity[i])
print(money_spent)

In [ ]:
prices["box of spaghetti"]

In [ ]:
for number in range(3):
    print( 'Attempt', number+1)

In [ ]:
range(1,10)
list=[*range(1,10)]
list

In [ ]:
range(1,11)
list=[*range(1,11)]
list

In [ ]:
range(1,11)

In [ ]:
list=[*range(1,11)]

In [ ]:
list

In [ ]:
range(1,10)
list=[*range(1,10)]
list

In [ ]:
range(1,11)
list=[*range(1,11)]
print(list)

### PYTHON .FORMAT() METHOD

### It is a very useful tool for preprocesing text data
AND IT IS APPLICABLE TO STRING VALUES ONLY; THE STRING values are template in which the format method will insert the values that has been designated as its arguements.
.format() will first have to format the values as texts regardless of their initial data type

#### it is important to know that technically these pairs of braces define the place holders where we will insert the values that have been passed as arguements of the format method. so the deal is that we can apply the .format method to the string and pass the value '12 and product b' as arguements. the real beauty of the method is that u can pass entire objects as its arguement

In [ ]:
time_horizon = 1,3,12
time_horizon # diff time periods

In [ ]:
products = ['product A', 'product B']
products

In [ ]:
'Expected sales for a period of {} month(s) for {}:'.format(12, 'product B')

In [ ]:
'Expected sales for a period of {} month(s) for {}:'.format(time_horizon, products)
# this gives us an inadequate output

In [ ]:
# lets apply indexing

'Expected sales for a period of {} month(s) for {}:'.format(time_horizon[1], products[0])

In [ ]:
# types of parameters used in .format()
# positional and keyword parameters. Earlier we have used the positional (or keyword )arguement as python was converting the empty values into number 0 
# and 1 in the background. u can think of this behavour as how python will treat the arguements of the .format() method by default. this means we can  
# also specify this arguements by explicitly specifying an index value within the place holders 

'Expected sales for a period of {0} month(s) for {1}:'.format(time_horizon[1], products[0])

In [ ]:
'Expected sales for a period of {1} month(s) for {0}:'.format(time_horizon[1], products[0])

# it is possible to be implicit or explicit when referencing positional arguements

In [ ]:
# 1. Positional
t_hor = 12
prod = 'product B'
print('Expected sales for a period of {1} month(s) for {0}:'.format(prod, t_hor))

### USING KEYWORD ARGUEMENT(NAMED ARGUEMENTS)

In [ ]:
# THEY ARE CALLED THIS WAY BC WE REFER TO THEM NOT BY USING AN INDEX IN PLACEHOLDERS BUT BY USING KEYS, WHICH CAN ALSO BE THOUGHT OF
# AS THEIR NAMES AT THE SAME TIME. To be able to use keyword arguements, you have to designate the relevant key value pairs within the parenthesis, 
# thus as you reference an arguement by its key, the format methos will insert the corresponding value within the given placeholder 

'Expected sales for a period of {1} month(s) for {0}:'.format(12, 'product B')

In [ ]:
'Expected sales for a period of {1} month(s) for {0}:'.format('product B', 12)

#### Keyword Arguments in Format String (Recommended):  For better readability, especially with more complex format strings, use keyword arguments within the format string itself

In [ ]:
'Expected sales for a period of {t_hor} month(s) for {prod}:'.format(t_hor = 12, prod = 'product B')

In [ ]:
'Expected sales for a period of {t_hor} month(s) for {prod}:'.format(t_hor = 12, prod = ['product B','product A'])

In [ ]:
'Expected sales for a period of {t_hor} month(s) for {prod[1]}:'.format(t_hor = 12, prod = ['product B','product A'])

In [ ]:
# 2. Keyword in format string
print('Expected sales for a period of {t_hor[2]} month(s) for {prod[1]}:'.format(t_hor=time_horizon, prod=products))

#### f-strings (Modern and Concise):  The most modern and often most readable way is to use f-strings: F-strings allow you to directly embed variables inside the string using curly braces {}.  This is the most concise and generally recommended approach in modern Python.

In [ ]:
t_hor = 12
prod = 'product B'
print(f'Expected sales for a period of {prod} month(s) for {t_hor}:')

#### WHAT IF WE WANTED TO ATTACH THE PRECISE VALUE OF THE EXPECTED SALES IN DOLLARS ATE THE END?

In [ ]:
# Give a space after the colon, type dollar sign, put a variable of choice (in this case 'sales') inside the  curly bracket(placeholder) and the specify
# what value the variable stands for

print('Expected sales for a period of {t_hor[2]} month(s) for {prod[1]}: ${sales}'.format(t_hor=time_horizon, prod=products, sales = 10000))

# OR

print('Expected sales for a period of {0} month(s) for {prod[1]}: ${sales}'.format(12, prod=products, sales = 10000))

In [ ]:
t_hor = 12
prod = 'product B'
sales = 1000
print(f'Expected sales for a period of {t_hor} month(s) for {prod}: ${sales}'.format(t_hor=time_horizon, prod=products, sales = sales))

In [ ]:
companies = ['Company A', 'Company B']
companies

In [ ]:
quarter = [1, 2, 3, 4]
quarter

In [ ]:
sales_performance_prediction = ['increase', 'decrease', 'remain the same']
sales_performance_prediction

In [ ]:
print("{} expects their next year's sales of Q{} to {}:".format('company A', 3, 'increase'))

### ITERATING OVER RANGE OBJECT

In [ ]:
# Both turples and lists are instances of sequences. strings are also a sequence of characters
# the sequence order is determined by the position of the sequence of elements in the object

In [ ]:
t = (4,5,6,7)
t

In [ ]:
l = [10.5,20.75,30.0]
l

In [ ]:
s = 'abcde'
s

In [ ]:
# Recall that the body of the 'for loop' should be indented. basically it specifies the operation that will be executed at every iteration(or pass)
# of the loop.
for i in t:
    print(i, end= " ")

#  Recall also that 'i' is the loop variable (or iterator variable) and 't' is the iterable. it might be obvious that we can iterate over a turple, the 
# reason is that an iterable is in fact any object that you can iterate over or loop over, such an object should contain distinguishable seperate 
# elements which can be referred to at diff steps during a programming operation. in other words this object represents a stream or collection of seperate
# data values
# we can generate any sequence of numbers and use it as an iterable in our iterations

In [ ]:
range(5)
# 5 is stop, by default start is 0

In [ ]:
list=[*range(5)]
list

In [ ]:
for i in range(5):
    print(i, end = " ")

# when we want to loop over a range we use "for i in range(n)" where n is number of iteration we desire

### NESTED FOR LOOPS

In [ ]:
for i in range(2):
    print(i)

In [ ]:
for j in range(5):
    print(j)

In [ ]:
# python allows us to have a loop within another loop

for i in range(2):
    for j in range(5):
        print(j, end = " ")

# loop variable j was printed as many times as the loop variable i looped over it i.e twice. so we can say the j-loop(inner loop) has been nested 
# in the i-loop(outer loop)

In [ ]:
for i in range(2):
    for j in range(5):
        print([i,j])

# in summary we can say that for the values from every row we'll extract the value of every column until we have used the values from all coliumns

In [ ]:
# string values can be used too in nested queries

for i in ['producct A', 'product B']:
    for j in range(5):
        print([i,j])

In [ ]:
products = ['producct A', 'product B']
exp_sales = [10000,11000,12000,13000,14000]

In [ ]:
for i in (products):
    for j in(exp_sales):
        print([i,j])

### TRIPPLE NESTED FOR LOOP

In [ ]:
products = ['producct A', 'product B']
exp_sales = [10000,11000,12000,13000,14000]

In [ ]:
time_horizon = (1,3,12) # monthly, quarterly and annually expected sales revenue

In [ ]:
for i in (products):
    for j in(exp_sales):
        for k in (time_horizon):
            print([i,j*k])

# you can see that the main principle is preserved regardless of how many loops you are using in an iteration process. THE IDEA IS THAT THE INNER LOOP
# MUST ALWAYS COMPLETE ALL OF ITS ITERATIONS BEFORE WE CAN REFER TO AN OUTER LOOP UNTILL WE CONSUME ALL ELEMENTS OF OUR NESTED LOOP

#### It is a good coding practice to use specific names for iterator variables of the nested loops. doing that will improve the legibility of our code

In [ ]:
for prod in (products):
    for sale in(exp_sales):
        for t_hor in (time_horizon):
            print([prod,sale*t_hor])

# the brackets are not compulsary

In [ ]:
for prod in (products):
    for sale in(exp_sales):
        for t_hor in (time_horizon):
            print('Expected sales for a period of {0} months(s) for {1}: ${sales}'.format(t_hor, prod, sales = sale*t_hor))

# the results wont come up in the form of a list, they will practically be string values
# t_hor, prod are positional arguements
# sales = sale*t_hor is keyword arguement

### In certain situations you can switch the dimensions without making an impact on the essence of your results, u will have just changed the orderin which the rows will be displayed in case the new order appeals to u more

In [ ]:
for prod in (products):
    for t_hor in (time_horizon):
        for sale in(exp_sales):
            print('Expected sales for a period of {0} months(s) for {1}: ${sales}'.format(t_hor, prod, sales = sale*t_hor))

### LIST COMPREHENSION. WRITING NESTED LOOPS USING LIST COMPREHENSION

In [ ]:
numbers = [1,13,4,5,63,100]
numbers

In [ ]:
new_numbers = [] # create an empty list

for n in numbers:       # specify a for loop
    new_numbers.append(n*2)  # append the product of each element and the number 2 on the new list

print(new_numbers)

In [ ]:
# LIST COMPREHENSION can provide a concise way to build a new list from the given numbers list. to do this we must refer to the 
# following syntax comprising the following 3 main components written within brackets;
# 1. An output expression for an element in iterable. the output expression is actually a formula or another expression that will lead us to the result
# we are aiming for. Element corresponds to the member of the iterable or loop variable or iterator variable of the loop we wrote previously
# Recall that iterable is the sequence we are going to iterate over

In [ ]:
new_numbers = [n*2 for n in numbers]
print(new_numbers)

In [ ]:
for i in range(2):
    for j in range(5):
        print(i+j, end=" ")

In [ ]:
new_list_comprehension_1 = [i+j for i in range(2) for j in range(5)]
new_list_comprehension_1

In [ ]:
type(new_list_comprehension_1)

In [ ]:
print(new_list_comprehension_1)

In [ ]:
new_list_comprehension_2 = [[i+j for i in range(2)] for j in range(5)]
new_list_comprehension_2

In [ ]:
type(new_list_comprehension_2)

In [ ]:
type(new_list_comprehension_2[0])

In [ ]:
type(new_list_comprehension_1[0])

### one of the usefulness of list comprehension is that it supports the option for setting conditonals either on the output or on the iterable or both. thus we can place a conditional on the output to the right of where we have written its expression or a conditional on the iterable just after we have specified it.

In [ ]:
list = [*range(1,11)]
list

In [ ]:
# TASK; deliver a list containing integers equal to the values of the generated sequence raised to the power of 3 on the condition that the base
# values are odd numbers

# THIS IS AN EXAMPLE OF SETTING A CONDITION ON THE ITERABLE 

[num**3 for num in range(1,11) if num%2 !=0]

In [ ]:
# Non-pythonic version
for i in range(1,11):
    if i%2 !=0:
        print(i**3, end= " ")

In [ ]:
# THIS IS AN EXAMPLE OF SETTING A CONDITION DIRECTLY ON THE OUTPUT
# TO DO THIS WE SET CONDITION DIRECTLY AFTER THE OUTPUT

# [num**3 if num%2 !=0 for num in range(1,11)]  THIS WILL GIVE US AN ERROR MESSAGE

# Cell In[114], line 2
    # [num**3 if num%2 !=0 for num in range(1,11)]
    # ^
# SyntaxError: expected 'else' after 'if' expression

# THE REASON IS THAT WE MUST PROVIDE A CLEAR INDICATIONTO PYTHON ABOUT WHAT EXACTLY WE WANT TO BE DISPLAYED IN EACH POTENTIAL OUTCOME. IN OTHER WORDS WE
# MUST REMEMBER TO ALWAYS SUGGEST AN OUTPUT VALUE FOR THE CASES IN WHICH NO EXECUTION OF THE OUTPUT EXPRESSION WILL TAKE PLACE

In [ ]:
# LETS CORRECT IT
[num**3 if num%2 !=0 else "even" for num in range(1,11)]

In [ ]:
# The following code cell will execute a nested loop that will deliver all possible combinations of the elements from the products_on_sale, 
# sale_prices and quantities lists:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]

for chair_type in products_on_sale:
    for price in sale_prices:
        for quantity in quantities:
            print ([chair_type, price*quantity])

# THIS WILL PRINT A LIST OF LISTS

In [ ]:
result = [[chair_type, price * quantity] for chair_type in products_on_sale for price in sale_prices for quantity in quantities]
for item in result:
    print(item)

# THIS WILL PRINT A LIST OF LISTS TOO

In [ ]:
# Use a list comprehension to return a list with all even numbers between 1 and 10 inclusive, multiplied by 10.
even_multiplied = [num * 10 for num in range(1, 11) if num % 2 == 0]
print(even_multiplied)

### SUMMARY:
YOU CAN PLACE A CONDITIONAL ON THE RIGHT OF THE ITERABLE TO FILTER OUT CERTAIN VALUES FROM THE ITERABLE THAT YOU DONT WANT TO BE IN THE FINAL CALCULATION ALTERNATIVELY YOU CAN SET A CONDITION ON THE OUTPUT IN WHICH CASE YOU WILL PRACTICALLY ALTER THE OUPUT FOR CERTAIN ELEMENTS
* POINTS TO NOTE: List comprehension is a very powerful tool that has wide range of use cases and can deliver many types of output
* it is a fantastic example of high quality code
* Requires more memory and run more slowly, thus while aiming to optimize ur code given this two constriants, in some situations you might be better off choosing among other alternatives such as nested loops

In [ ]:
# f-string formatting: The most important change is the use of an f-string: f"{chair_type} {price * quantity}".  
# This allows you to directly embed the variables chair_type and the calculated price * quantity into the string.  
# It converts them to strings and concatenates them with a space in between.

# No more inner lists: The list comprehension now directly creates a list of strings, not a list of lists. 
# This is what gives you the desired output format.

# Use a list comprehension to obtain the same output. Store it in a variable called sales_revenue.

sales_revenue = [f"{chair_type} {price * quantity}"
          for chair_type in products_on_sale
          for price in sale_prices
          for quantity in quantities]

for item in sales_revenue:
    print(item)

### ANONYMOUS (Lambda) Functions
Lambda expressions are python syntax for creating anonymous (Lambda) functions
### In what situation can we use such functions to our advantage
* sometimes you may need to involve a simple functionality in larger python programs or expressions. in other words
* there are cases in which you prefer not to define a whole new function(),then you will create a function that will allow you to focus on the function itself rather than think abt its name or place in ur work. thats where u can opt for using anonymous function

### LAMBDA FUNCTION FEATURES;
* can have one or many parameters but can contain a single expression only
* allow you to write just one line of code to include simple functionality in a more complex expression
* unlike regular fns lambda expressions can only be applied to the larger expression they have been written in, they cannot be referenced elsewhere in
  ur work

In [ ]:
def raise_to_the_power_of_2(x):
    return x**2

In [ ]:
raise_to_the_power_of_2(3)

In [ ]:
# lets create a lambda expression that will execute same calculation. the syntax we need is the lambda keyword, parameter, colon
# and an expression involving the same parameters

lambda x: x**2

# when you run this expression u will get this "<function __main__.<lambda>(x)>"
# so we assign it to a variable

In [ ]:
raise_to_the_power_of_2_lambda = lambda x: x**2

In [ ]:
raise_to_the_power_of_2_lambda(3)

In [ ]:
(lambda x: x/2)(11)

In [ ]:
(lambda x: (2+5 * x ** 4) ** 2 / (x+3) **3)(2)

In [ ]:
#LAMBDA FUNCTION CAN HAVE MULTIPLE PARAMETERS

sum_xy = lambda x,y: x+y
sum_xy(2,3)

In [ ]:
# Y does not neccessarily have to be a value it can also be a function(fn of x). say that we are interested in obtaining the sum of x and the output 
# of the function y within an arguement of x

# sum_xy = lambda x, y: x+y(x)
# sum_xy(2,3) 
# the above will give an error message (TypeError: 'int' object is not callable) bc the second arguement which is just an int. cannot correspond to a function
# which is what y is in our lambda expression

# sum_xy = lambda x, y: x+y(x)
# sum_xy(2) 
# this will also give an error message (TypeError: <lambda>() missing 1 required positional argument: 'y'). this is bc x can be a numeric value but 

# y has to be a function since it was set to be a function in our expression earlier

In [ ]:
sum_xy = lambda x, y: x+y(x)
sum_xy(2, lambda x: x * 5) # this shows how lambda fn can be used in larger expression
# thus this expression is a good example of how instead of defining a seperate fn with a name we use another lambda fn that will take the value of the 
# first arguement which is x and apply it in a calculation to return a certain output

In [ ]:
lambda_value = (lambda x: (135 - (x) ** 3) ** 4 / (1+x) **5)(3)
print(lambda_value)

In [ ]:
import pandas as pd

### INTRO TO PANDAS SERIES
SERIES is a single column data or a set of values that correspond to a single variable. so we can actually create a series object from a list
Take note of indexing, The type of data we have stored in the series(dtype: object) and the data itself
The default datatype assigned to data which is not numeric is object

In [ ]:
products = ['A','B','C','D']
products

In [ ]:
type(products)

In [ ]:
products_categories = pd.Series(products)
products_categories

In [ ]:
type(products_categories)

In [ ]:
# OR
type(pd.Series(products))

In [ ]:
daily_rates_dollars = pd.Series([40,45,50,60])
daily_rates_dollars

In [ ]:
print(daily_rates_dollars)

In [ ]:
# Recall that pd.Series object corresponds to the 1D numpy array structure. this means we can create a new series by using a numpy array
import numpy as np

In [ ]:
array_a = np.array([10,20,30,40,50])
array_a

In [ ]:
type(array_a)

In [ ]:
print(array_a)

In [ ]:
series_a = pd.Series(array_a)
series_a

In [ ]:
type(series_a)

### KEY TAKEAWAYS
* the pandas series object is something like a powerful version of the python list, or an enhanced version of the numpy array. this is not to say that series should be the preferred choice bw the 3 no matter what
 there is always a trade_off bw what you want to obtain from your data vs speed and precision with which you can do that
 However if in a given situation you have opted for using a series; this will entail working with larger set of tools and capabilities that are petinent to the pandas library only. this tools and capabilities are often related to the fact that series object stores its values in a sequenced order and has an explicit index. but only as you get more practice with coding and pandas will you be able to discover these advantages in-depth from a technical perspective
* Remember to always maintain data consistency(never mix up the data type)

## working with methods in python

#### Almost every entity in python is an object containing data and typically metadata and some fnalities. therefore we can say that a python object is associated with a certain collection of attributes and methods.
* Attributes provide the metadata while methods relates to the fnality and behaviour of the object
* Attributes are somehow passive since they can only deliver infor abt a given dataset while methods are active in the sense that they actually work with data stored in the object
* Both tools are similar bc when provided with some initial data, they can make specific operations with it and return an output. However a function is an independent entity in the sense that it is not associated with an object by construction. methods from a given package is generally applied to an object of a certain class, more precisely when called or invoked, a method can have access to the object's data and can also manipulate the object state
* Since we cant use a method unless there is an object to associate it with, diff libraries contain there own set of methods; thus they can be applied to the types of object associated with these libraries only. for instance there's a certain grp of methods in pandas that are specific to the series object(they cannot be used on dataframes or objects belonging to other pachages)

* some well known pandas series method can also be applied in numpy methods as 
* USING METHODS IS AN EFFICIENT WAY TO OBTAIN IMPORTANT INFOR FROM OUR DATASET( AND NOT ABOUT THE DATASET)

In [ ]:
start_date_deposits = pd.Series({
    '7/4/2014'  : 2000,
    '1/2/2015'  : 2000,
    '12/8/2012' : 1000,
    '2/20/2015' : 2000,
    '12/8/2014' : 2000,
    '10/28/2014' : 2000,
    '7/4/2014'  : 2000,
    '7/4/2014'  : 2000,
    '10/3/2014' : 2000,
    '5/1/2014'  : 2000,
    '9/18/2015' : 2000,
    '9/3/2015'  : 4000,
})

In [ ]:
start_date_deposits

In [ ]:
start_date_deposits.sum()

In [ ]:
start_date_deposits.min() # return the minimum of the values for the vertical axis

In [ ]:
start_date_deposits.max()

In [ ]:
### idmax()- index label corresponding to the highest value in a series. idx stands for index

start_date_deposits.idxmax()

In [ ]:
# idxmin()- delivers the start date of the deposit with the smallest value
start_date_deposits.idxmin()

### working with methods in python pt2
* what kind of methods exist in pandas and why? Recall that pandas is a lib which steps on the computational abilities of Numpy and thats why one part of the methods in pandas are Numpy-based and can be condidered mathematical; sum,min,max,idxmin,idxmax are examples
* identical math methods exists in 2 seperate libraries of same language: if we can be certain that our data frame contains numeric data only we will most probably use Numpy and its methods bc of its computational abilities but if u know that u will have to work with datasets containing both numeric and non-numeric data, then storing the data in pandas series or dataframe object will set the ground for good analysi. fortunately bc of the duplication we mentioned, if you happen to be in this scenario pandas wont deprive you of certain mathematical operations when you need them

*Non-math methods in pandas are specific to pandas. they are; head(), tail()

In [ ]:
start_date_deposits = pd.Series({
    '7/4/2014'  : 2000,
    '1/2/2015'  : 2000,
    '12/8/2012' : 1000,
    '2/20/2015' : 2000,
    '12/8/2014' : 2000,
    '7/9/2014'  : 3000,
    '10/28/2014' : 2000,
    '7/4/2014'  : 2000,
    '7/4/2014'  : 2000,
    '10/3/2014' : 2000,
    '5/1/2014'  : 2000,
    '9/18/2015' : 2000,
    '9/3/2015'  : 4000,
})

In [ ]:
start_date_deposits.head()

In [ ]:
start_date_deposits.tail()

### PARAMETERS AND ARGUEMENTS IN PANDAS
* one of the best features of using methods is that we can also modify their performance. this can be achieved by knowing the parameters associated with a given method and then supplying the relevant arguements upon 
* The "head()" method provides us with the option to choose the number of displayed rows from the object it has been applied to. the fefault setting for the head() method is first five rows
* In programming, the option to set the number of rows is called a parameter of that method (eg head() method)
* The choice of the number in a given situation is referred to as an arguement. thus we can say that head() method allows us to modify the way in which the method will operate
* the parameter of a python method or function always has a name
* TAKEAWAY: pandas methods have parameters you can supply with arguements to modify the performance of the given method

In [ ]:
start_date_deposits = pd.Series({
    '7/4/2014'  : 2000,
    '1/2/2015'  : 2000,
    '12/8/2012' : 1000,
    '2/20/2015' : 2000,
    '12/8/2014' : 2000,
    '7/9/2014'  : 3000,
    '10/28/2014' : 2000,
    '7/4/2014'  : 2000,
    '7/4/2014'  : 2000,
    '10/3/2014' : 2000,
    '5/1/2014'  : 2000,
    '9/18/2015' : 2000,
    '9/3/2015'  : 4000,
})

In [ ]:
start_date_deposits.head(3)

# we can choose or be specific about the number of rows we want displayed lets say (3) or (10)

In [ ]:
# Regarding the head method, the name of the parameter we referred to as number of rows is called "n". 
# this technique becomes particularly handy when a method has several parameters, the benefits of using parameter names explicitly and
# in the right order to inform the reader exactly what parameters you are providing the arguements for. thus avoiding ambiguity in what the supplied
# arguements are supposed to be used for. on the contary the head() method has a single parameter only
start_date_deposits.head(n=10)

## USING Pandas Series: .unique() and nunique()

In [ ]:
import pandas as pd

In [ ]:
# recall that pandas series object represents a single column data or a set of observation related to a single variable. it corresponds to the 1D Numpy 
# array structure

data = pd.read_csv('Location.csv', squeeze = True)
location_data = data.copy()
location_data.head()

In [ ]:
type(location_data)

In [ ]:
# since it is pd series a data scientist will swiftly apply the .describe() method which gives us an overview of the data
location_data.describe()

# top designate the most common value while the penultimate row its frequency: therefore in our case the string 'location 25'
# can be encountered 31 times
# the 2nd number although cited as unique in the output of the describe method intends to provide the number of unique values 
# thats why the relevant pandas method is called "nunique()"

In [ ]:
len(location_data)

In [ ]:
location_data.nunique()

In [ ]:
type(location_data.nunique())

In [ ]:
location_data.unique()

# the unique() method delivers the values in the order they have apeared in the dataset. it can be useful when checking if a
# particular value has been stored within the data

In [ ]:
 type(location_data.unique())

## Pandas Series: .sort_values()
* The .sort_values() is used to order all rows from a data table not by its index, but according to the values of just one or a few of the columns

In [ ]:
import pandas as pd

In [ ]:
numbers = pd.Series([15, 1000, 23, 45, 444])
numbers

In [ ]:
numbers.sort_values()

# by default the sort_values() sorts the value of the series in ascending order

In [ ]:
numbers.sort_values(ascending=True)

In [ ]:
numbers.sort_values(ascending=False)

In [ ]:
data = pd.read_csv('Location.csv', squeeze = True)
location_data = data.copy()
location_data.head()

In [ ]:
location_data.sort_values()

# when applying the default version of the sort values method to location data, the infor wont be arranged numerically like l
# -location 1,2,3 etc instead the values will be sorted alphabetically ie THEY WILL BE TREATED AS LABELS NOT INTEGERS

# the index values instead comply with the objects data that will lead the way

In [ ]:
location_data.sort_values(ascending=True)

In [ ]:
location_data.sort_values(ascending=False)

### INTRO TO PANDAS DATAFRAME
* A Dataframe is a multi-column data where each column represent a different variable; it is the most important structure int     the pandas library
* Every column can contain data of its own type
* the infor in the dataframe can be heterogeneous. it doesnt need to be of a single type as is the case with series
* this allows us to preserve data consistency
DATAFRAME is a collection of multiple series objects so any characteristics of a series u can think of is also applicable to the seperate columns of a dataframe
* DATAFRAME is a 2D structure bc its data has been organised not only into rows but also into columns, thus representing tabular structure and is the closest python analog we can have to a std 2D dataset. DF is a collection of series
* In a dataframe we need 2 points of reference (row index and column index), if you use just one point of reference in a DF. you will obtain an entire row or column
* SERIES- the indexing relates to the keys of a dictionary, it also allows us to extract the desired parts of the given dataset
 more quickly and efficiently

* DATAFRAME- we can provide a whole object that that contains the values of an entire column to the dictionary keys, it inherits   the characteristics of the dictionary class plus lot more features and functionalities

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# DF is a tabular structure that contains multiple observations for a given set of variables
array_a = np.array([[3, 2, 1], [6, 3, 2]])
array_a

In [ ]:
# create a dataframe out of array_a
pd.DataFrame(array_a)

# "pd.DataFrame" is pandas dataframe constructor

# recall that when not being explicit abt indexing and column names while creating a dataframe, the default int indexing will be 
# implicitly assigned to both

In [ ]:
type(pd.DataFrame(array_a))

In [ ]:
# df is the conventional name for a dataframe variable
df = pd.DataFrame(array_a, columns = ['Column 1', 'Column 2', 'Column 3'])
df

In [ ]:
df = pd.DataFrame(array_a, columns = ['Column 1', 'Column 2', 'Column 3'], index = ['Row 1', 'Row 2'])
df

In [ ]:
data = pd.read_csv('Lending-company.csv', index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data.head()

In [ ]:
type(lending_co_data)

## pandas DataFrames - Common Attributes

In [ ]:
data = pd.read_csv('Lending-company.csv', index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data.head()

In [ ]:
# INDEX attribute is used to obtain an object containing our DataFrames index elements. dont mistake this numbering for the
# default integer index which would have started from zero to 1042
lending_co_data.index

In [ ]:
type(lending_co_data.index)

In [ ]:
# the .columns attribute is used when you want to adjust or reorganise the columns of a dataframe. they can be used as a point of
# reference when referring to a data value. it is of the index type this is bc column names act as index when u are looking at 
# the table horizontally 
lending_co_data.columns

In [ ]:
type(lending_co_data.columns)

In [ ]:
# THE "axes" attribute is used to combine the output of the index and columns attribute in the same field
lending_co_data.axes

In [ ]:
# "dtype"- dataframe attribute displays all column names on the left and their corresponding data types on the right. this infor 
# is constantly needed through out the data cleaning and preprocessing stages of analysis. this is bc keepig track of the data
# consistency is main goal of a data analyst
lending_co_data.dtypes

In [ ]:
# ".values" will deliver a two dimensional numpy array representation of the values of the object. thus every row from lending_co
# _data will be stored in an array and all the inner 1D arrays will be stored together in 1 2D outer array
lending_co_data.values

In [ ]:
type(lending_co_data.values)

In [ ]:
# similar to the case about series, pandas developers advice us to switch to the "to_numpy" method when we need to convert our 
# dataframe into a numpy array. 
# ".values" and ".to_numpy" intend to solve certain compatibility issues in long term. the two techniques lead to identical
# outcomes

# ALWAYS REMEMBER THAT THERE IS A SOLID RELATIONSHIP BW PANDAS DATAFRAME AND NUMPY 2D ARRAY. this connection can be exploited 
# through a quick conversion of the object type from a DataFrame into an array

lending_co_data.to_numpy()

In [ ]:
# ".shape" when applied to a dataframe gives us a tuple that will show you the dimensionality of the object and the number of the 
# elements there are in each dimension ie 1043 rows and 14 columns. NOTE that the index column is not included in the representation
lending_co_data.shape

In [ ]:
# the 'len' fn confirms the index column is not included in the representation
len(lending_co_data.columns)

## Data Selection in pandas DataFrames
data selection or subset selection in a pandas dataframe  means extracting elements, rows, columns, or subsets from such an object. it allows us to work on just a portion of the dataset. one way to do dataselection is through indexing
* indexing- using one or both types of indexes (row and column index) to access or select specific parts of the data. or it is providing certain values as a row or column specifiers (or indexers) with which we can point to specific rows or columns of the dataset so we can extract a specific entry or a desired subset in our data

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('Lending-company.csv', index_col = 'StringID')
lending_co_data = data.copy()
lending_co_data.head()

In [ ]:
# one option is to use an attribute type of access
lending_co_data.Product

In [ ]:
# one option is to use an attribute type od access
lending_co_data.Location

In [ ]:
# option 2 is to use the indexing operator. in terms of syntax, this means adding '[]' right after the objects name to specify 
# the operations during the indexing preocess. this technique allows us to provide the column name of interest as a string

# THE INDEXING OPERATOR IS MORE PROFESSIONAL BC IT WILL STILL WORK EVEN IF THE COLUMN NAME OF INTEREST CONTAINS WHITESPACE CHARACTERS
# EG in attribute type of access 'lending_co_data.Product_price' will give an error. 
# to be totally safe you can write name in camelcase(ie joining all the letters of a variable)

lending_co_data['Product']

### POINTS TO NOTE
* Remember python is case sensitive
* when you place a column name bw just a single pair of brackets you will obtain a series object
* if we want to obtain a df albeit composed of a single column, we need to use double brackets around the string location. this   means we should place a nested list containing a single element
* Nesting a list within the indexing operator is most needed when we want to extract data from several columns. note that the     column names dont have to be in the order provided in the dataset. python requires comma bw the 2 columns and good coding       practice requires a whitespace after the comma to improve legibility

In [ ]:
 type(lending_co_data['Location'])

In [ ]:
lending_co_data[['Location']]

In [ ]:
type(lending_co_data[['Location']])

In [ ]:
lending_co_data[['Location', 'Product']].head()

In [ ]:
# a more elegant way to get the same result it to store the list containing the column names in a seperate variable that can be
# nested within the square brackets of the indexing operator. this method allows coders to store several column names in the 
# given variable while assigning a more appropriate name to it

prod_loc = ['Location', 'Product']
lending_co_data[prod_loc].head()

In [ ]:
# to verify that using double bracket is the only way to obtain a dataframe execute the code below within a single pair of bracket
# it will give an error
# lending_co_data['Product', 'Location']

### PANDAS DF- INDEXING WITH .iloc[]
iloc is a property but in practice but in practice it is regarded as an attribute indexer or an accessor. iloc[] is used for purely int. location based indexing or selection by position hence the name iloc
* same rule apply for indexing python list, pandas series by index position and pandas series and df with .iloc[], this is bc python handlles list and array type structure such as the pandas df in the same way
* what distinguishes method is using strict implicit, integer-location, position based indexing

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('Lending-company.csv', index_col = 'StringID')
lending_co_data = data.copy()
lending_co_data.head()

In [ ]:
# lending_co_data[1]

# THIS WILL GIVE AN ERROR MESSAGE

In [ ]:
# lending_co_data[0,1]

# THIS WILL ALSO GIVE AN ERROR MESSAGE

In [ ]:
lending_co_data['Product']

In [ ]:
# To implicitly index by an int. we use iloc

lending_co_data.iloc[1] 

# this will give the second row of our dataset. in this case, the value of one acts as a row specifier or indexer.

In [ ]:
lending_co_data.iloc[1, 3]

# ie we specify the 2nd row and 4th column as indexing starts from zero

# when applied on a dataframe, iloc accessor can specify the location of the desired subset by providing a column specifier 
# as well. to do that we need to add a COMA, a WHITESPACE character and the value of interest(the column position we want to 
# use as an identifier)

# .iloc[] has been programmed to deliver the desired portion of the dataset whether we provide 1 or 2 location specifiers

In [ ]:
lending_co_data.iloc[1,:]

# this gives the entire second row of the dataset
# (:) is used to indicate data from all rows or columns

In [ ]:
lending_co_data.iloc[:, 3] 

# this gives all rows and column 3 only
# always use the accessor specifier in pairs

In [ ]:
type(lending_co_data.iloc[1, 3])

In [ ]:
type(lending_co_data.iloc[1, :])

In [ ]:
type(lending_co_data.iloc[:, 3])

In [ ]:
# to access several specific rows from the df
lending_co_data.iloc[[1, 3], :]

# this gives us the entire second and fourth rows. to do this we need to place a list containing the integers 1 and 3 before 
# the coma and the (:) to indicate we are interested in the entire row values

In [ ]:
# to access several specific columns from the df
lending_co_data.iloc[:, [3, 1]]
# this gives us the entire 4th and 2nd columns. to do this we need to place a list containing the integers 3 and 1 in that order
# before the coma and the (:) to indicate we are interested in the entire column values

## pandas DataFrames - Indexing with .loc[]

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('Lending-company.csv', index_col = 'StringID')
lending_co_data = data.copy()
lending_co_data

In [ ]:
lending_co_data.loc['LoanID_3']

# this outputs the 3rd row of our dataframe

In [ ]:
lending_co_data.loc['LoanID_3', :]

In [ ]:
lending_co_data.loc['LoanID_3', 'Region']

In [ ]:
lending_co_data['Location']

In [ ]:
# lending_co_data.loc['Location']

# when trying to use the loc[] indexer to obtain a particular column this gives an error bc python thinks we are referring to a row 
# whose label is location and there is no such row label in the dataset

In [ ]:
# correction is to put (:), coma, whitespace and the column we want to retrieve in this case 'Location'

lending_co_data.loc[:, 'Location']

In [ ]:
lending_co_data.loc[:, 'Locations']

# Always observe for typo errors